{%  extends 'main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Students</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Student ID</th>
							<th>Student Name</th>
							<th>School</th>
						</tr>
						{% for student in students %}
                        <tr>
                            <td>{{student.roll_number}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.school}}</td>
                        </tr>
                        {% endfor %}



					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}