{%  extends 'main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Courses: </h5>

				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Course Name</th>
							<th>Teacher</th>
							<th>School</th>
							<th></th>
						</tr>
						{% for course in courses %}
                        <tr>
                            <td>{{course.name}}</td>
                            <td>{{course.teacher}}</td>
                            <td>{{course.teacher.school}}</td>
							<td><a href="{% url 'course' course.id %}">view</a></td>
                        </tr>
                        {% endfor %}



					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}